<div class="container">
    <div class="row">
      <div class="col">
        <section>
          <header class="header">
            <div class="row">
              <div class="col-md-4">
                <h1>Account #{{id}}</h1>
              </div>
            </div>  
          </header>
        </section>
  
        <section class="main">  
            <table class="table">
                <thead>
                <tr>
                  <th><h4>Details</h4></th>
                  <th><h4>Balance</h4></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                      <div *ngIf="account">
                        <div class="row">
                          <strong class="col-sm-4">IBAN:</strong>
                          <div class="col-sm-8">{{account.iban}}</div>
                        </div>
                        <div class="row">
                          <strong class="col-sm-4">BIC:</strong>
                          <div class="col-sm-8">{{account.bic}}</div>
                        </div>
                        <div class="row">
                          <strong class="col-sm-4">Currency:</strong>
                          <div class="col-sm-8">{{account.currency}}</div>
                        </div>
                        <div class="row">
                          <strong class="col-sm-4">Created:</strong>
                          <div class="col-sm-8">{{formatDate(account.created)}}</div>
                        </div>
                        <div class="row">
                          <strong class="col-sm-4">Updated:</strong>
                          <div class="col-sm-8">{{formatDate(account.updated)}}</div>
                        </div>
                      </div>
                  </td>
                  <td>
                      <div *ngIf="balance">
                        <div class="row">
                          <strong class="col-sm-4">Available:</strong>
                          <div class="col-sm-8">{{balance.amountAvailable}}</div>
                        </div>
                        <div class="row">
                          <strong class="col-sm-4">Booked:</strong>
                          <div class="col-sm-8">{{balance.amountBooked}}</div>
                        </div>
                      </div>
                  </td>
                </tr>
      
                </tbody>
              </table>
        </section>
      </div>
    </div>
  </div>
