<div class="row">
    <div class="col">
      <section>
        <form novalidate [formGroup]="customerForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>First Name</label>
              <input type="text"
                     class="form-control"
                     formControlName="firstName">
            </div>
 
            <div class="form-group">
              <label>Last Name</label>
              <input type="text"
                     class="form-control"
                     formControlName="lastName">
            </div>
          </fieldset>

          <div class="form-group">
            <label>Company name</label>
            <input type="text"
                   class="form-control"
                   formControlName="companyName">
          </div>
 
          <div class="form-group">
            <label>E-Mail</label>
            <input type="email"
                   class="form-control"
                   formControlName="email">
          </div>

          <fieldset>
            <div class="form-group">
              <label>City</label>
              <input type="text"
                     class="form-control"
                     formControlName="postCity">
            </div>
          </fieldset>
 
          <button type="submit" class="btn btn-primary"  [disabled]="!customerForm.valid" >Submit</button>
          <button type="button" class="btn btn-warning" (click)="redirectCustomerPage()">Cancel</button>
          <!-- <pre>{{customerForm.value | json}}</pre> -->
        </form>
      </section>
    </div>  
</div>